.sidebar {
  background-color: #0f172a; /* azul oscuro */
  min-height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.logoContainer {
  margin-bottom: 2rem;
}
